Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [17]:
import pandas as pd

In [18]:
# Задание 1.
stats = pd.read_csv('ratings_2.csv',sep = ',', header=0)
stats.head()

   userid  movieid  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [22]:
def class_column(row):
    if row.rating>=4.5:
        return 'высокий рейтинг'
    elif 2<row.rating<4.5:
        return 'средний рейтинг'
    elif row.rating<=2:
        return 'низкий рейтинг'
        
stats['class']=stats.apply(class_column, axis=1)
stats.head()

   userid  movieid  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

In [24]:
stats['class'].value_counts().head()

средний рейтинг    63801
высокий рейтинг    22818
низкий рейтинг     13385
Name: class, dtype: int64

Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1
2
3
4
5
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
Результат классификации запишите в отдельный столбец region.

In [61]:
# Задание 2.
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}
stats = pd.read_csv('keywords.csv')
stats.loc[125:130]

               keyword    shows
125    школьный портал   982692
126    вк моя страница   979105
127       авито москва   979292
128        спортмастер   968154
129    новости украины   965720
130  онлайн переводчик  3882735

In [65]:
def region (row):
    for key, value in geo_data.items():
        for i in value:
            if i in row['keyword']:
                return key
    return 'undefined'
print('geo -', geo_data)
stats['region'] = stats.apply(region, axis = 1) 
stats[(stats['region'] == 'Дальний Восток')].head(10)
#stats['region'].value_counts().head() # для проверки всех регионов

geo - {'Центр': ['москва', 'тула', 'ярославль'], 'Северо-Запад': ['петербург', 'псков', 'мурманск'], 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

                  keyword   shows          region
1063  фарпост владивосток  176951  Дальний Восток
2175       дром хабаровск   98361  Дальний Восток
3206     дром владивосток   73084  Дальний Восток
3275   100 сп владивосток   76418  Дальний Восток
3687      авито хабаровск   63736  Дальний Восток
5858          владивосток   43038  Дальний Восток
6260    фарпост хабаровск   40962  Дальний Восток
8039  погода в хабаровске   33437  Дальний Восток
9084            хабаровск   29655  Дальний Восток
9293     100 сп хабаровск   29475  Дальний Восток